<!-- 
    The view is what the user can see on their web browser.
    This is where the structure of the page takes place using HTML (and optionally, inline CSS for styling although there is an external CSS file within ./wwwroot/css/site.css).
    wwwroot is publically available for anyone accessing the webpage. Therefore, refrain from storing any sensitive data within as by default any content can be downloaded as well.
    You may also attach scripts to your .cshtml file.
-->

<h1>Hello World!</h1>

<!-- Through Razor (.cshtml), you can use C# within HTML as you can in the case of PHP and HTML. -->
<h2>@DateTime.Now.ToShortDateString()</h2>